# ARGOCD

ARGOCD_HOSTNAME="argocd.local"
ARGOCD_LOGIN="<login>"
ARGOCD_PASSWORD="<password>"

# GITLAB

GITLAB_HOSTNAME="gitlab.local"
GITLAB_LOGIN="<login>"
GITLAB_PASSWORD="<password>"
GITLAB_TOKEN="glpat-xxx"
GITLAB_PROJECT_HOSTNAME="jmougel.local"
GITLAB_PROJECT_NAME="jmougel_IoT_app"
GITLAB_PROJECT_PATH="root/${GITLAB_PROJECT_NAME}"
GITLAB_URL="http://gitlab-webservice-default.gitlab.svc.cluster.local:8181/"
GITLAB_INTERNAL_REPOSITORY_URL="${GITLAB_URL}${GITLAB_PROJECT_PATH}.git"

# MINIO

MINIO_HOSTNAME="minio.local"
MINIO_SECRETKEY="<secretkey>"
MINIO_ACCESSKEY="<accesskey>"
