# ARGOCD

ARGOCD_HOSTNAME="argocd.local"
ARGOCD_LOGIN="admin"
ARGOCD_PASSWORD="adminadmin"

# GITLAB

GITLAB_HOSTNAME="gitlab.local"
GITLAB_LOGIN="root"
GITLAB_PASSWORD="rootroot1234"

MINIO_HOSTNAME="minio.local"
MINIO_SECRETKEY="adminadmin"
MINIO_ACCESSKEY="admin"
